

.events-index-main {
    display: flex;
}

.events-index-left {
    width: 70%;
    max-width: none;
    margin-left: 40px;
    margin-right: auto;
    display: block;
}

.events-index-right {
    height: 100vh;
    max-width: none;
    text-align: left;
    object-fit: fill;
    flex: 0 auto;
    order: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.events-index-right > img {
    width: 770px;
    max-width: none;
    object-fit: cover;
    display: inline-block;
    position: relative;
    bottom: auto;
    right: auto;
    /* overflow: visible; */
    vertical-align: middle;
}

.events-index-headers {
    margin-bottom: 20px;
    padding-bottom: 0;
}


.events-index-headers > h4 {
    color: #b4b4b4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.events-index-left-content {
    max-width: none;
    justify-content: flex-start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.events-index-filters {
    width: 20%;
    height: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    padding-top: 0;
    position: sticky;
    top: 30px;
}

.events-index-filters > h2 {
    margin-top: 0;
}

.form-heading {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-left: 10px;
}

.form-input {
    height: 25px;
    margin-right: 5px;
}

.label-span {
    cursor: pointer;
}

.events-index-list {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 75%;
    margin-top: 40px;
    
}

.events-index-list > a {
    text-decoration: none;
}


.events-index-list-item {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, .2);
    padding: 15px 10px 15px 10px;
    width: 80%;
    border-radius: 16px;
    
}

.events-index-list-item:hover {
    background-color: #e8e8e8;
}

.events-index-item-banner {
    width: 40%;
    aspect-ratio: 16 / 9;
    margin-right: 20px;
    vertical-align: middle;
}

.events-index-item-details {
    width: 50%;
}

.events-index-item-details > h2 {
    color: #685acf;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.events-index-item-details > h3 {
    color: #dc7048;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.events-index-item-details > p {
    color: #8a69b7;
    font-family: Lato, sans-serif;
    font-weight: 700;
}


.event-index-like-button {
    width: 30px;
    height: 30px;
    border: 1px solid #cacaca;
    border-radius: 63px;
    padding: 10px;
    position: relative;
    align-self: flex-end;
}

.event-index-like-button:hover {
    background-color: #7fb7ff;
}

.loading {
    color: red;
    font-size: 100px;
}