.create-headers {
    width: 25%;
    float: none;
    clear: none;
    margin-top: 50px;
    margin-left: 18rem;
    position: relative;
}

.create-headers > h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
}

.create-headers > p {
    margin-bottom: 10px;
}

.create-form-container {
    height: 60vh;
    margin-top: 40px;
    display: block;
}

.create-event-form {
    height: 100%;
    grid-row-gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
}

.create-form-left {
    width: 35%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-self: auto;
    align-items: flex-start;
    padding-right: 50px;
    display: flex;
}

.create-form-right {
    width: 35%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding-left: 50px;
    display: flex;
}

.form-text-input {
    height: 3.5rem;
    margin-bottom: 25px;
    padding: 0 10px;
    width: 80%;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}

.form-text-select {
    height: 3.5rem;
    margin-bottom: 25px;
    padding: 0 10px;
    width: 83%;
    color: #333;
    background-color: #f0e8e8;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}


.create-select-option {

}

.form-checkbox > span {
    padding-left: 5px;
}

.event-create-submit-button {
    width: 43%;
    display: inline-block;
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    margin-top: 10px;
}


.create-errors {
    margin-top: 25px;
}

.create-errors > p{
    margin-bottom: 10px;
}